## 刪除

In [29]:
import pandas as pd
d = {"one":pd.Series([1,2,3],index=["a","b","c"]),
    "two":pd.Series([1,2,3,4],index=["a","b","c","d"])}
df1 = pd.DataFrame(d)
print(df1)
df1["three"] = [10,11,12,13]

print(df1)
print(df1.drop("one",axis=1))
print("=================")
print(df1)
print("="*70)
newDf1 = df1.drop("d")#預設是axis=0
print(newDf1)
print("=================")
print(df1)
print("=================")
df1.drop("one",axis = 1,inplace = True)
print(df1)
df1.drop("c",inplace=True)
print(df1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two  three
a  1.0    1     10
b  2.0    2     11
c  3.0    3     12
d  NaN    4     13
   two  three
a    1     10
b    2     11
c    3     12
d    4     13
=================
   one  two  three
a  1.0    1     10
b  2.0    2     11
c  3.0    3     12
d  NaN    4     13
======================================================================
   one  two  three
a  1.0    1     10
b  2.0    2     11
c  3.0    3     12
=================
   one  two  three
a  1.0    1     10
b  2.0    2     11
c  3.0    3     12
d  NaN    4     13
=================
   two  three
a    1     10
b    2     11
c    3     12
d    4     13
   two  three
a    1     10
b    2     11
d    4     13

In [13]:
import os
print(os.getcwd())

C:\Users\xvpow\ai_python20250710\ch15

## Pandas 讀取CSV

In [21]:
import pandas as pd
df1 = pd.read_csv("./ex1.csv")
print(df1)
print("-"*70)
df2 = pd.read_csv("./ex1.csv",header=None)#省略抬頭那一列
print(df2)
print("-"*70)
df3 = pd.read_csv("./ex1.csv",names=["A","B","C","D","E"])
print(df3)
print("-"*70)
df3.drop(0,inplace = True)
print(df3)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12    good
----------------------------------------------------------------------
   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12     good
----------------------------------------------------------------------
   A   B   C   D        E
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12     good
----------------------------------------------------------------------
   A   B   C   D      E
1  1   2   3   4  hello
2  5   6   7   8  world
3  9  10  11  12   good

In [33]:
import pandas as pd
data={
    'Name':['犇','中文','龘','Ricky'],
    'Age':[28,34,29,42]
}
df = pd.DataFrame(data)
print(data)
print(df)
df.to_html("df1.html",encoding = "utf-8")
df.to_csv("df1a.csv")
df.to_csv("df1b.csv",index=False)

{'Name': ['犇', '中文', '龘', 'Ricky'], 'Age': [28, 34, 29, 42]}
    Name  Age
0      犇   28
1     中文   34
2      龘   29
3  Ricky   42

In [36]:
import pandas as pd
data={
    'Name':['犇','中文','龘','Ricky'],
    'Age':[28,34,29,42]
}
df = pd.DataFrame(data)
print(data)
print(df)
df.to_csv("df1c.csv",index=False,encoding="utf-8")
df.to_csv("df1d.csv",index=False,encoding="utf-8-sig")

{'Name': ['犇', '中文', '龘', 'Ricky'], 'Age': [28, 34, 29, 42]}
    Name  Age
0      犇   28
1     中文   34
2      龘   29
3  Ricky   42

pip install xlrd

In [41]:
import pandas as pd
import  numpy as np
data={
    'Name':['犇','中文','龘','Ricky'],
    'Age':[28,34,29,42]
}
df = pd.DataFrame(data)
writer = pd.ExcelWriter("df.xlsx")
df.to_excel(writer,sheet_name="Sheet3")
df1 = pd.DataFrame(np.arange(9).reshape(3,3),index = ["a","b","c"],columns=["One","Two","Three"])
print(df1)
df1.to_excel(writer,sheet_name="哈囉")
writer.close()

   One  Two  Three
a    0    1      2
b    3    4      5
c    6    7      8

In [43]:
df = pd.read_excel("df.xlsx")
print(df)
df = pd.read_excel("df.xlsx",1)
print(df)

   Unnamed: 0   Name  Age
0           0      犇   28
1           1     中文   34
2           2      龘   29
3           3  Ricky   42
  Unnamed: 0  One  Two  Three
0          a    0    1      2
1          b    3    4      5
2          c    6    7      8

### 使用 loc(文字 m:n 會包含到n)
+ "location" 的縮寫
+ .loc[ ], 中括弧裡面是先 row 後 column，以逗號分開。
+ row 與 column 要放入的是 row 標籤與 column 標籤。
+ 可於 row 或 column 加入「：」 ，代表指定起訖範圍。

In [49]:
import  pandas as pd
import  numpy as np
df = pd.DataFrame(np.arange(48).reshape(6,8),
                 index=["a","b","c","d","e","f"],
                 columns=["s","t","u","v","w","x","y","z"])
print(df)
print("="*20)
print(df.loc["b",:])
print("="*20)
print(df.loc["d","w"])
print("="*20)
print(df.loc["c":"e","w":"y"])
print("="*20)
df.loc["g"] = [100,101,102,103,104,105,106,107]
print(df)
print("="*20)
print(df.loc[:,"x"])

    s   t   u   v   w   x   y   z
a   0   1   2   3   4   5   6   7
b   8   9  10  11  12  13  14  15
c  16  17  18  19  20  21  22  23
d  24  25  26  27  28  29  30  31
e  32  33  34  35  36  37  38  39
f  40  41  42  43  44  45  46  47
====================
s     8
t     9
u    10
v    11
w    12
x    13
y    14
z    15
Name: b, dtype: int32
====================
28
====================
    w   x   y
c  20  21  22
d  28  29  30
e  36  37  38
====================
     s    t    u    v    w    x    y    z
a    0    1    2    3    4    5    6    7
b    8    9   10   11   12   13   14   15
c   16   17   18   19   20   21   22   23
d   24   25   26   27   28   29   30   31
e   32   33   34   35   36   37   38   39
f   40   41   42   43   44   45   46   47
g  100  101  102  103  104  105  106  107
====================
a      5
b     13
c     21
d     29
e     37
f     45
g    105
Name: x, dtype: int64

### 使用 iloc
+ iloc[ ] 與 loc 一樣，中括弧裡面也是先 row 後 column，行列標籤用逗號分開。
+ 與 loc 不同的之處是，.iloc 是根據索引來進行選擇。

In [60]:
import  pandas as pd
import  numpy as np
df = pd.DataFrame(np.arange(48).reshape(6,8))
print(df)
print()
print(df.iloc[1,:])
print()
print(df.iloc[2:4,4:6])
print()
print(df.iloc[:,-3])
print()#27
df.loc[6]  = [100,101,102,103,104,105,106,107]
print(df)

    0   1   2   3   4   5   6   7
0   0   1   2   3   4   5   6   7
1   8   9  10  11  12  13  14  15
2  16  17  18  19  20  21  22  23
3  24  25  26  27  28  29  30  31
4  32  33  34  35  36  37  38  39
5  40  41  42  43  44  45  46  47

0     8
1     9
2    10
3    11
4    12
5    13
6    14
7    15
Name: 1, dtype: int32

    4   5
2  20  21
3  28  29

0     5
1    13
2    21
3    29
4    37
5    45
Name: 5, dtype: int32

     0    1    2    3    4    5    6    7
0    0    1    2    3    4    5    6    7
1    8    9   10   11   12   13   14   15
2   16   17   18   19   20   21   22   23
3   24   25   26   27   28   29   30   31
4   32   33   34   35   36   37   38   39
5   40   41   42   43   44   45   46   47
6  100  101  102  103  104  105  106  107